language: java

matrix:
  include:
  - name: Spring
    script: gradle test -p api
    env: PROJECT=api
  - name: Lambda
    script: gradle test -p Lambda
    env: PROJECT=Lambda

script: gradle test -p $PROJECT
