---
---

@import "{{ site.theme }}";

ul.utterances {
  list-style-type: none;
  border: 1px solid #c1dfff;
  border-radius: 4px;
  padding: 0;

  li {
    border-bottom: 1px solid #c1dfff;
    padding: 1em;
    color: #004085;
    background: rgba(5, 50, 252, 0.05);

    &:last-child {
      border-bottom: 0;
    }
  }
}

.slot {
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;

  &.buyable {
    background: lighten(#cabce1, 4%);
    color: #563d7c;
    border-color: #cabce1;
  }

  &.username {
    background: #d4edda;
    color: #1e5e2d;
    border-color: #cbe9d2;
  }
}

.alert {
  border-radius: 3px;
  padding: 1.5em 1.5em 0 1.5em;
  margin-bottom: 1em;
}

.alert.danger {
  border: 1px solid rgb(245, 198, 203);
  background: rgb(248, 215, 218);
  color: rgb(160, 12, 15);
}

.alert.info {
  border: 1px solid #b8daff;
  background: #cce5ff;
  color: #004085;
}

kbd {
  border: 1px solid darken(#DFDFDF, 3%);
  background: lighten(#DFDFDF, 5%);
  padding: 2px 5px;
  border-bottom-width: 2px;
  border-radius: 3px;
}
